* {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

td, caption {
    border: 1px solid #000000;
}

caption {
    font-weight: 600;
    border-bottom: none;
}

span {
    color: red;
}

tr.tr-weight td {
    font-weight: bold;
}