body {
    font-family: sans-serif;
}

form {
    display: inline-block;
    width: 350px;
}

h3 {
    margin-top: 5px;
}

p{
    margin-bottom: 5px;
}

fieldset {
    /* padding: 10px; */
    border-radius: 10px;
}


input {
    width: 250px;
    height: 25px;

    padding-left: 7px;

    border-radius: 5px;
    border: solid #515151;
}

.input-rules {
    width: auto;
    height: auto;
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 10px;
}

textarea {
    min-height: 25px;
    max-height: 150px;
    height: 30px;
    width: 250px;

    padding-left: 7px;

    border: solid #515151;
    border-radius: 5px;

    resize: vertical;
}

button {
    cursor: pointer;
    background: #cccbcb;
    
    border: none;
    border-radius: 5px;

    width: 100px;
    height: 20px;
}